.red {
    background-color: red;
}
.pink {
    background-color: pink;
}
.grey {
    background-color: grey;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}
